<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Out of quota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quota.css') }}">
</head>
<body>
<div>
    <p class="font-weight-bold">
        Request failed (503 Service Unavailable):
    </p>
    <p class="font-weight-normal">
        You've reached your <span class="font-weight-bold">daily request quota</span> with the youtube API
    </p>
    <p class="font-weight-normal">
        requests are required to load you videos and as such the entire application is unavailable
    </p>
    <p class="font-weight-bold">
        Try again tomorrow.
    </p>
</div>
</body>
</html>